body{
    background: #C9D6FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 15%;
    padding: 0 10%;
    width: 100%;
    margin-top: 15%;
} 

.bg-nav{
    background: #d4dbf2;
}

h1{
    color: red;
    font-family: 'Shadows Into Light Two', cursive;
    padding-top: 2%;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 5px;
}

#demo2{
    font-size: 2rem;
    font-weight: 800;
    height: 30px;
}
h2{
    text-align: center;
}
#myText{
    margin-right: 10%;
}
#display{
 margin-right: 10%;
}
h3{
    font-size: 1.5rem;
}
#imge{
width: 500px;
border: 2px solid red;
margin: 0 auto;
}

@media (max-width: 768px){
    /* For Mobile */
   #imge{
       width: 80%;
       margin: auto;
   }
   
   
}



@media (min-width: 768px){
    /* For Laptop */
    body{
        padding-top: 60px;
        margin-top: 60px;
    }
}