body{
    width: auto;
    background-color: #c4e8fc;
    padding-top: 15%;
}


.bg-nav{
    background-color: #c4e8fc
}
footer{
    background-color: black;
    margin-bottom: 0;
    padding: 2% 5% 5% 5%;
}
i{
    color: white;
}
footer p{
color: white;
margin: 0;
padding:0;
}